

<div class="message-<%= if message.user == @user then "sent" else "received" end %>" id="message-<%= message.id %>" data-controller="message" data-message-user-id-value="<%= message.user.id %>">
  <div class="message-full-name">
  <small>
    <strong><%= message.user.full_name %></strong>
    </div>
    <div class= "message-time">
    <i><%= message.created_at.strftime("%l:%M %p") %></i>
  </small>
  </div>
  <div class= "message">
  <p><%= message.content %></p>
  </div>
</div>

