
  <div class="sign-up-logo">
    <%= image_tag "logo-principal.png", alt: "Logo BookMatch" %>
  </div>
<div class="orange-container">
  <div class="top">
    <p><strong>Bem-vindo ao BookMatch!<strong></p>
    <p>Preencha suas informações pessoais abaixo</p>
  </div>

  <div class="sign-up-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs" data-controller="upload">
        <%= f.input :full_name,
                    required: true,
                    label: false,
                    input_html: { placeholder: "Nome e Sobrenome", class: "center-placeholder" } %>
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    label: false,
                    input_html: { autocomplete: "email", placeholder: "Seu e-mail", class: "center-placeholder" } %>
<%= f.input :gender,
            required: true,
            label: false,
            collection: ["Masculino", "Feminino", "Outros", "Prefiro não dizer"],
            include_blank: "Selecione seu gênero",
            input_html: { class: "center-placeholder" } %>
        <%= f.input :password,
                    required: true,
                    label: false,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", placeholder: "Sua senha", class: "center-placeholder" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: false,
                    input_html: { autocomplete: "new-password", placeholder: "Confirme sua senha", class: "center-placeholder" } %>

        <%= f.input :photo, as: :file, input_html: {
          class: "d-none",
          id: "file-upload",
          data: {
            action: "change->upload#updateLabel"
          }
        }, label: false %>

        <label for="file-upload" class="upload-button">
          <span data-upload-target="label">📷 Carregar Foto</span>
        </label>
      </div>

      <div class="create-account-button">
        <%= f.button :submit, "Criar conta" %>
        <div class="back">
        <%= link_to "Voltar", root_path %>
        </div>
        </div>
    <% end %>
  </div>
