<div class="fireworks-container">
  <div class="fireworks"></div>
</div>

<div class="white-container">
  <div class="icon-right">
    <%= link_to books_path do %>
      <%= image_tag "arrow-left-black.png", alt: "Voltar" %>
    <% end %>
  </div>
  <div class="logo-black">
    <%= image_tag "logo-black.png", alt: "Logo BookMatch" %>
  </div>
  <div class="icon-left">
    <%= image_tag "settings.png", alt: "Procurar" %>
  </div>
</div>

<div class="matching-container">
  <% last_match = @matches.last %>
  <% if last_match %>
    <% if last_match.first_like.user == current_user %>
      <% user_like = last_match.first_like %>
      <% matched_like = last_match.second_like %>
    <% else %>
      <% user_like = last_match.second_like %>
      <% matched_like = last_match.first_like %>
    <% end %>

    <div class="book-card-matching show-card">
      <div class="books-matched">
        <!-- Livro do usuário logado -->
        <div class="book-card-photo book-left">
          <% if user_like.book.photos.attached? %>
            <%= image_tag user_like.book.photos.first, class: "book-photo" %>
          <% else %>
            <%= image_tag "no-image.jpg", class: "book-photo" %>
          <% end %>
        </div>

        <!-- Livro do outro usuário -->
        <div class="book-card-photo book-right">
          <% if matched_like.book.photos.attached? %>
            <%= image_tag matched_like.book.photos.first, class: "book-photo" %>
          <% else %>
            <%= image_tag "no-image.jpg", class: "book-photo" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="matching-box">
    <div class="top-matching">MATCH!<div>
    <div class="matching-title">Os astros se alinharam!<div>
      <div class="matching-title">Seu próximo livro está esperando por você!</div>
      <div class="matching-button-chat">
    <%= link_to "Chat", match_path(last_match), class: "link-to-chat" %>
</div>
  <% else %>
   <div class="matching-title">Você ainda não tem matches.<div>
  <% end %>

</div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    setTimeout(() => {
      document.querySelector(".book-card-matching").classList.add("match-active");
    }, 500); // Pequeno delay para suavizar a animação
  });
</script>
