<div class="white-container">
  <div class="icon-right">
    <%= link_to books_path do %>
      <%= image_tag "arrow-left.png", alt: "Voltar" %>
    <% end %>
  </div>

  <div class="logo-black">
    <%= image_tag "logo-black.png", alt: "Logo BookMatch" %>
  </div>

  <div class="icon-left">
    <%= image_tag "search-normal.png", alt: "Procurar" %>
  </div>
</div>

<div class="matching-container">
  <% last_match = @matches.last %>
  <% if last_match %>
    <% if last_match.first_like.user == current_user %>
      <% user_like = last_match.first_like %>
      <% matched_like = last_match.second_like %>
    <% else %>
      <% user_like = last_match.second_like %>
      <% matched_like = last_match.first_like %>
    <% end %>

    <div class="book-card-matching show-card">
      <div class="books-matched">
        <!-- Livro do usuário logado -->
        <div class="book-card-photo">
          <% if user_like.book.photos.attached? %>
            <%= image_tag user_like.book.photos.first, width: 150, height: 250, alt: "#{user_like.book.title} photo", class: "book-photo", crop: :fill %>
          <% else %>
            <%= image_tag "no-image.jpg", width: 150, height: 250, alt: "Sem foto disponível", class: "book-photo" %>
          <% end %>
        </div>

        <!-- Livro do outro usuário -->
        <div class="book-card-photo">
          <% if matched_like.book.photos.attached? %>
            <%= image_tag matched_like.book.photos.first, width: 150, height: 250, alt: "#{matched_like.book.title} photo", class: "book-photo", crop: :fill %>
          <% else %>
            <%= image_tag "no-image.jpg", width: 150, height: 250, alt: "Sem foto disponível", class: "book-photo" %>
          <% end %>
        </div>
      </div>
    </div>

      <h2 class="matching-title">MATCH!</h2>
      <%= link_to "Chat", match_path(last_match), class: "link-to-chat" %>

  <% else %>
    <p>Você ainda não tem matches.</p>
  <% end %>
</div>
