<div class="white-container">
  <div class="icon-right">
    <%= link_to books_path do %>
      <%= image_tag "arrow-left.png", alt: "Voltar" %>
    <% end %>
  </div>

  <div class="logo-black">
    <%= image_tag "logo-black.png", alt: "Logo BookMatch" %>
  </div>

  <div class="icon-left">
    <%= image_tag "search-normal.png", alt: "Procurar" %>
  </div>
</div>

<div class="container">
  <div class="top-container">
    <p class="top">Jorge Vieira, 36</p>
    <div class="icon-left">
      <%= image_tag "settings.png", alt: "Configurações" %>
    </div>
  </div>

  <div class="top-general-container">
    <div class="top-white-container">
      <div class="profile-button">
        <%= link_to books_path, class: "profile-button-my-books-link" do %>
          <button id="profile-button-my-books" class="profile-button-my-books">
            <%= image_tag "my-books.png", alt: "Meus Livros", class: "icon-above" %>
            Meus Livros
          </button>
        <% end %>

        <button id="profile-button-chat" class="profile-button-chat">
          <%= image_tag "chat.png", alt: "Chat", class: "icon-above" %>
          Chat
        </button>

        <%= link_to matches_path, class: "profile-button-matches-link" do %>
          <button id="profile-button-matches" class="profile-button-matches">
            <%= image_tag "matches.png", alt: "Matches", class: "icon-above" %>
            Matches
          </button>
        <% end %>
      </div>
    </div>

    <div class="book-container-general">
      <% @books.each do |book| %>
        <%= link_to book_path(book), class: "book-container" do %>
          <div class="book-button-photo">
            <% if book.photos.attached? %>
              <li>
                <%= image_tag(book.photos.first, crop: :fill, alt: "#{book.title} photo") %>
              </li>
            <% end %>
          </div>

          <div class="book-button-info">
            <ul>
              <li><%= book.title %></li>
              <li><%= book.author %></li>
              <li><%= book.condition %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
