<h2>Detalhes do Livro</h2>

<ul>
  <li>Título: <%= @book.title %></li>
  <li>Autor: <%= @book.author %></li>
  <li>Condição: <%= @book.condition %></li>
</ul>

<%= link_to "Aceitar", books_path %>

<%= link_to "Recusar", book_path(@book) %>
