<div class="container">
  <div class="logo">
    <%= image_tag "logo-principal.png", alt: "Logo BookMatch" %>
  </div>

  <div class="top">
    <p>Insira seu e-mail e sua senha para continuar</p>
  </div>

  <div class="form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
             required: false,
             autofocus: true,
             label: false,
             input_html: { autocomplete: "email", placeholder: "Seu e-mail", class: "center-placeholder" } %>

        <%= f.input :password,
             required: false,
             label: false,
             input_html: { autocomplete: "current-password", placeholder: "Sua senha", class: "center-placeholder" } %>
      </div>

      <%= form_with(url: session_path(:user), method: :post) do |f| %>
        <div class="continue-blue-button">
          <%= f.submit "Continuar" %>
        </div>
      <% end %>

    <% end %>

    <div class="or">
      <p>ou</p>
    </div>

    <button id="google-button" class="google-button">
      <%= image_tag "google-logo.svg", alt: "Logo Google", class: "google-icon" %>
      Entrar com Google
    </button>

    <button id="apple-button" class="apple-button">
      <%= image_tag "apple-logo.svg", alt: "Logo Apple", class: "apple-icon" %>
      Entrar com Apple
    </button>

    <div class="terms">
      <p>
        Ao clicar em “Continuar” ou em “Criar uma conta", você concorda com nossos
        <a href="#">Termos de Serviço</a> e <a href="#">Política de Privacidade</a>.
      </p>
    </div>
  </div>
</div>
