<div class="white-container">
  <div class="icon-right">
    <%= link_to books_path do %>
      <%= image_tag "arrow-left-black.png", alt: "Voltar" %>
    <% end %>
  </div>

  <div class="logo-black">
    <%= image_tag "logo-black.png", alt: "Logo BookMatch" %>
  </div>

  <div class="icon-left">
    <%= image_tag "settings.png", alt: "Configurações" %>
  </div>
</div>

<div class="matches-index-chat">
  <% if @matches.any? %>
    <div id="index-avatar-container">
      <% shown_users = Set.new %>
      <% @matches.each do |match| %>
        <% if match.first_like.user.id == current_user.id %>
          <% second_user = match.second_like.user %>
        <% else %>
          <% second_user = match.first_like.user %>
        <% end %>

        <% unless shown_users.include?(second_user.id) %>
          <% shown_users.add(second_user.id) %>
          <div class="index-avatar-profile">
            <% if second_user.present? && second_user.photo.present? %>
              <%= image_tag second_user.photo, width: 150, height: 150,
                alt: "#{second_user.email} photo", class: "avatar-index-photo" %>
            <% else %>
              <%= image_tag "no-image.jpg", width: 150, height: 150,
                alt: "Sem foto disponível", class: "avatar-index-photo" %>
            <% end %>
            <p><%= second_user.full_name.split.first %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="master-container">
    <div class="white-container-match">
      <div class="top-match">
        <p>Mensagens</p>
      </div>

      <div id="index-message-container">
        <ul>
          <% @matches.each do |match| %>
            <% if match.first_like.user.id == current_user.id %>
              <% second_user = match.second_like.user %>
            <% else %>
              <% second_user = match.first_like.user %>
            <% end %>

            <% unread_messages_count = match.messages.unread_by(current_user).count %>

            <%= link_to match_path(match), class: "chat-link" do %>
              <div class="chat-container">
                <div class="avatar-message-container">
                  <% if second_user.present? && second_user.photo.present? %>
                    <%= image_tag second_user.photo, width: 150, height: 150,
                      gravity: :center, crop: :fill,
                      alt: "#{second_user.email} photo", class: "avatar-index-photo" %>
                  <% else %>
                    <%= image_tag "no-image.jpg", width: 150, height: 150,
                      alt: "Sem foto disponível", class: "avatar-index-photo" %>
                  <% end %>
                </div>

                <div class="relative-positioning">
                  <div class="index-info-message">
                    <h3><%= second_user.full_name.split.first %></h3>
                    <% last_message = match.messages.order(created_at: :desc).limit(1).take %>
                    <% if last_message.present? %>
                      <p class="message-content-index">
                        <i class="fa-solid <%= last_message.user == current_user ? 'fa-share' : 'fa-reply' %>"></i>

                        <%= last_message.content.length > 17 ? last_message.content[0, 17] + "..." : last_message.content[0, 20] %>

                      </p>
                    <% else %>
                      <p>
                        <%= match.first_like.user == current_user ? match.second_like.book.title : match.first_like.book.title %>
                      </p>
                    <% end %>
                  </div>
                </div>

                <div id="index-message-alert-time">
                  <%= match.created_at.strftime("%H:%M") %>
                  <% if unread_messages_count.positive? %>
                    <span class="unread-badge"><%= unread_messages_count %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% else %>
    <p class="matching-title">Você ainda não tem matches.<br>😞</p>
  <% end %>
</div>
