<h2>Seus Matches</h2>

<% if @matches.any? %>
  <ul>
    <% @matches.each do |match| %>
      <% if match.first_like.user == current_user %>
        <% user_like = match.first_like %>
        <% matched_like = match.second_like %>
      <% else %>
        <% user_like = match.second_like %>
        <% matched_like = match.first_like %>
      <% end %>

      <li>
        <strong>Seu Livro:</strong> <%= user_like.book.title %> <br>
        <strong>Livro do Match:</strong> <%= matched_like.book.title %> <br>
        <strong>Usuário do Match:</strong> <%= matched_like.user.full_name %> <br>

        <% if user_like.book.photos.attached? %>
          <%= image_tag user_like.book.photos.first, width: 150, height: 150, alt: "#{user_like.book.title} photo" %>
        <% else %>
          <%= image_tag "no-image.jpg", width: 150, height: 150, alt: "Sem foto disponível" %>
        <% end %>

        <% if matched_like.book.photos.attached? %>
          <%= image_tag matched_like.book.photos.first, width: 150, height: 150, alt: "#{matched_like.book.title} photo" %>
        <% else %>
          <%= image_tag "no-image.jpg", width: 150, height: 150, alt: "Sem foto disponível" %>
        <% end %>

        <%= link_to "Chat", match_path(match) %>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>Você ainda não tem matches.</p>
<% end %>
