<div class="white-container">
  <div class="icon-right">
    <%= link_to books_path do %>
      <%= image_tag "arrow-left.png", alt: "Voltar" %>
    <% end %>
  </div>

  <div class="logo-black">
    <%= image_tag "logo-black.png", alt: "Logo BookMatch" %>
  </div>

  <div class="icon-left">
    <%= image_tag "search-normal.png", alt: "Procurar" %>
  </div>
</div>

<!-- Turbo Streams para atualização do chat -->
<%= turbo_stream_from "match_#{@match.id}_messages" %>

<div class="chat">
  <div class="chat-message-container">
    <div id="messages" class="messages">
      <% @match.messages.each do |message| %>
        <%= render partial: "messages/message",  locals: { message: message, user: current_user } %>
      <% end %>
    </div>
  </div>
</div>

<div class="chat">
  <% other_user = (current_user.id == Like.find(@match.first_like_id).user_id) ?
      Like.find(@match.second_like_id).user :
      Like.find(@match.first_like_id).user %>
</div>

<div class="form-centralizer">
<!-- Formulário para envio de mensagens -->
  <%= simple_form_for [@match, @message], html: {
    class: "d-flex",
    data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset", target: "reset-form.form" }
  } do |f| %>

    <div class="send">
      <div class="chat-input-container justify-content-center">
        <%= f.input :content,
          label: false,
          placeholder: "Escreva aqui sua mensagem...",
          style: "background-color: #FFFCFC; color: #222222;",
          class: "message-input" %>
        <%= f.submit "Send", class: "send-button" %>
      </div>
    </div>
  <% end %>
</div>
